.index-header{
    background-image: url(../img/home.png);
    height: 810px;
    background-size: cover;
    background-position: center center;
    // @media(max-width:767px){
    //     background-image: url(./style/img/home_mobile.png);
    // }
}
.index-card{
    box-shadow: inset 5px 2px 10px rgba(0, 0, 0, 0.3);
}
.index-card:hover{
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.3);
    // box-shadow: inset;
}
.index-img:hover{
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.3);
}