nav{
    .navbar-brand{
        background-image: url("https://i.imgur.com/hkxj6fs.png");
        // background: #000;
        width: 200px;
        height: 200px;
    }
    .bg-primary:hover{
        box-shadow: 4px 4px rgb(10, 10, 10);
    }
}