nav{
    .bg-primary:hover{
        box-shadow: 4px 4px rgb(10, 10, 10);
    }
    .nav-item{
        .nav-link:hover{
            color: #F9C745;
        }
    }
}
footer{
    border-top: 3px solid #F9C745;
    
}